<launch>
 <group ns="lidar1">
  <node name="lidar01" pkg="bluesea2" type="bluesea2_node" output="screen" >
    <param name="type" value="uart" />
    <param name="port" value="/dev/ttyUSB0" />
    <param name="frame_id" value="map" />
    <param name="baud_rate" value="-1" />
    <rosparam param="rate_list">[256000, 384000, 500000, 768000, 921600 ]</rosparam>
    <param name="output_scan" value="true" />
    <param name="output_cloud" value="true"/>
    <param name="output_360" value="true"/>   
    <param name="with_resample" value="true"/>
    <param name="resample_res" value="0.6"/>
    <param name="raw_bytes" value="2"/>
    <param name="unit_is_mm" value="false"/>
    <param name="with_confidence" value="true"/>
    <param name="with_checksum" value="true"/>  
  </node>
 </group>
</launch>
