<launch>
 <group ns="lidar1">
  <node name="lidar01" pkg="bluesea2" type="bluesea2_node" output="screen" >
    <param name="type" value="vpc" />
    <param name="topic" value="scan"/>
    <param name="Savelog" value="false"/>  
    <param name="logPath" value="/tmp/log"/>
    <param name="platform" value="LDS-50C-2" />
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud_rate" value="768000" />
    <param name="raw_bytes" value="3"/>
    <param name="frame_id" value="map" />
    <param name="rpm" value="900"/>
    <param name="min_dist" value="0.1"/>
    <param name="max_dist" value="50.0"/>
    <param name="zero_shift" value="0"/>
    <param name="collect_angle" value="0"/>  
    <param name="from_zero" value="false"/>
    <param name="unit_is_mm" value="true"/>
    <param name="output_360" value="true" />
    <param name="output_scan" value="true" />
    <param name="output_cloud" value="false"/>
    <param name="with_smooth" value="true" />
    <param name="with_deshadow" value="true" />
    <param name="with_confidence" value="true"/>
    <param name="with_checksum" value="true"/>
    <param name="inverted" value="false"/>
    <param name="reversed" value="false"/>
    <param name="with_angle_filter" value="false"/>
    <param name="min_angle" value="-3.1415926"/>
    <param name="max_angle" value="3.1415926"/>
    <param name="hard_resample" value="false"/>
    <param name="soft_resample" value="false"/>
    <param name="resample_res" value="0.400"/>
    <param name="error_circle" value="3"/>
    <param name="error_scale" value="0.9"/> 
  </node>
 </group>
</launch>



